@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.bio {
    padding: 0 1rem;

    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0 4rem 2.25rem ;
        gap: 1.5rem;
    }

    @include desktop {
        padding: 0;
        gap: 103px;
        @include desktop-center;
    }

    &__background {
        @include desktop {
            background-image: url("../../assets/images/bg-pattern-leaves.png");
            background-repeat: no-repeat;
            background-position: top 0 right -200px;
        }
    }

    &__image-container {

        padding: 2rem 0 3rem;

        background-image: url("../../assets/images/bg-pattern-leaves.png");
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: top 10px left -20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;

        @include tablet {
            background-size: 200%;
            padding-right: 2.25rem;
            padding-top: 1.5rem;
        }

        @include desktop {
            background-image: none;
            padding-right: 0;
            width: 40%;
        }
    }

    &__image {
        width: 65%;

        @include tablet {
            width: 100%;
        }
    }

    &__general {
        margin-top: -1rem;

        @include tablet {
            margin-top: 1.5rem;
        }

        @include desktop {
            width: 60%;
        }
    }

    &__name {
        margin: 0;
        color: $accent-4;
    }

    &__description {
        @include quote;
        line-height: 150%;
    }

    &__divider {
        width: 100%;
    }

    &__text {
        @include p2;
        line-height: 150%;
        margin: 14px 0 0;
    }

    &__info-card {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding: 1rem;
        background-color: $white;
        border-radius: 16px;
        margin: 1rem 0;
    }

    &__info {
        margin: 0;
    }

    &__quote {
        @include quote;
        color: $secondary-text-1;
    }

    &__faq-mobile {
        @include tablet {
            display: none;
        }
    }

    &__faq-not-mobile {
        display: none;

        @include tablet {
            display: block;
        }
    }
}