
$accent-1: #e0cdb1;
$accent-2: #105222;
$accent-3: #B8ccd9;
$accent-4: #f1d1c9;

$primary-text: #202626;
$accent-text: #5a695c;
$secondary-text-1: #9da39e;

$button: #fcfafb;

$background: #fcfafb;

$white: #ffffff;

$error: #EB5757;

