
//Regular

@font-face{
    font-family: "Mail";
    src: url("../../assets/fonts/Mali-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Mali-Regular.woff") format("woff"),
        url("../../assets/fonts/Mali-Regular.ttf") format("truetype");
    font-weight: 400;
}

//Medium

@font-face{
    font-family: "Mail";
    src: url("../../assets/fonts/Mali-Medium.woff2") format("woff2"),
        url("../../assets/fonts/Mali-Medium.woff") format("woff"),
        url("../../assets/fonts/Mali-Medium.ttf") format("truetype");
    font-weight: 500;
}

//Semi

@font-face{
    font-family: "Mail";
    src: url("../../assets/fonts/Mali-SemiBold.woff2") format("woff2"),
        url("../../assets/fonts/Mali-SemiBold.woff") format("woff"),
        url("../../assets/fonts/Mali-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

//Medium Italic

@font-face{
    font-family: "Mail";
    src: url("../../assets/fonts/Mali-MediumItalic.woff2") format("woff2"),
        url("../../assets/fonts/Mali-MediumItalic.woff") format("woff"),
        url("../../assets/fonts/Mali-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

