

@font-face{
    font-family: "Mail";
    src: url("../../assets/fonts/Mali-Medium.woff2") format("woff2"),
        url("../../assets/fonts/Mali-Medium.woff") format("woff"),
        url("../../assets/fonts/Mali-Medium.ttf") format("truetype");
        font-weight: 400;
}