@use './sizes' as *;
@use './colors' as *;
@use './fonts' as *;

@mixin desktop-center {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

@mixin p1 {
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0;

    @include desktop {
        font-size: 18px;
        margin: 16px 0; 
    }
}

@mixin p2 {
    font-weight: 400;
    font-size: 14px;
    margin: 8px 0;

    @include desktop {
        font-size: 16px;
        margin: 12px 0;
    }
}

@mixin p3 {
        font-weight: 400;
        font-size: 14px;
        margin: 8px 0;
}

@mixin quote {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;

    @include desktop {
        font-size: 16px;
    }
}

@mixin primary-btn {
    font-size: 16px;
    font-weight: 600;
    font-family: "Mail";

}

@mixin secondary-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: "Mail";
}


@mixin input-placeholder {
    font-family: 'Mail';
    font-size: 16px;
    font-weight: 500;
}

@mixin button {
    border-radius: 12px;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;

    @include tablet {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@mixin label {
    margin-top: -.85rem;
    margin-left: .7rem;
    background-color: $background;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
    color: $secondary-text-1;
    padding: .25rem;
}

@mixin error-input {
    border: 1px solid $error;
    background-image: url('../../assets/icons/error.svg');
    background-position: top 50% right .7rem;
    background-repeat: no-repeat;

    &:hover {
        border: 1px solid $error;
    }
}

@mixin input {
    width: 100%;
    padding: 16px;
    border: 1px solid $secondary-text-1;
    border-radius: 12px;
    position: relative;
    outline: 0;
    background-color: $background;
    @include input-placeholder;

    &:hover, &:focus, &:active{
        border: 1px solid $accent-text;
    }

    &:focus, &:active{
        background-image: none;
    }
}