@use './sizes' as *;

@mixin desktop-center {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

@mixin p1 {
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0;

    @include desktop {
        font-size: 18px;
        margin: 16px 0; 
    }
}

@mixin p2 {
    font-weight: 400;
    font-size: 14px;
    margin: 8px 0;

    @include desktop {
        font-size: 16px;
        margin: 12px 0;
    }
}

@mixin p3 {
        font-weight: 400;
        font-size: 14px;
        margin: 8px 0;
}

@mixin quote {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;

    @include desktop {
        font-size: 16px;
    }
}

@mixin primary-btn {
    font-size: 16px;
    font-weight: 600;
    font-family: "Mail";

}

@mixin secondary-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: "Mail";
}

@mixin input-label {
    font-size: 14px;
    font-weight: 600;
}

@mixin input-placeholder {
    font-family: 'Mail';
    font-size: 16px;
    font-weight: 500;
}

@mixin button {
    border-radius: 12px;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;

    @include tablet {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}