@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.not-found {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;

    @include tablet {
        height: 100vh;
    }

    @include desktop {
        height: 87vh;
    }

    &__background {
        background-image: 
            url("../../assets/images/Rectangle-1.png"), 
            url("../../assets/images/Rectangle-2.png"),
            url("../../assets/images/Rectangle-3.png"),
            url("../../assets/images/Rectangle.png");
        background-size: 220px, 230px, 250px, 170px;
        background-repeat: no-repeat;
        background-position: 
            right -50px bottom 0, 
            right -30px top 0, 
            left -50px bottom 0,
            left -20px top 0;

        @include tablet {
            background-size: 240px, 250px, 270px, 190px;
            background-position: 
                right 0 bottom 0, 
                right 0 top 0, 
                left 0 bottom 0,
                left -30px top 0;
        }

        @include desktop {
            background-size: 380px, 400px, 450px, 320px;
            background-position: 
                right 0 bottom 0, 
                right 0 top 0, 
                left 0 bottom 0,
                left 0px top 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 150px;
        line-height: 100%;
        margin: 0;
        color: $accent-3;

        @include tablet {
            font-size: 200px;
        }
    }

    &__text {
        text-align: center;
        max-width: 360px;
        margin: 0;

        @include desktop {
            max-width: 385px;
            margin: .5rem 0;

        }
    }

    &__links {
        width: 100%;
        max-width: 506px;
        display: flex;
        gap: 8px;
        padding: 1rem;

        @include tablet {
            gap: 1rem;
        }
    }

    &__link {
        width: 50%;
        @include button;
        text-align: center;

        &--primary {
            @include primary-btn;
            color: $background;
            background-color: $accent-2;
        }

        &--secondary {
            @include secondary-btn;
            color: $accent-2;
            background-color: $background;
            border: 1px solid $accent-2;
        }
    }
}