@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.faq-card {
    padding: 16px;
    background-color: $white;
    display: grid;
    gap: 1rem;
    border-radius: 24px;

    @include tablet {
        padding: 24px;
    }

    @include tablet {
        grid-template-columns: 1fr 1.25fr;
        gap: 3rem;
    }

    &__title, &__text {
        margin: 0;
    }

    &__text {
        @include p2;
        line-height: 150%;
    }

    &__question {
        color: $accent-3;
    }

    &__answer {
        color: $accent-1;
    }
}