@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.books {
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include tablet {
        padding: 2rem 2.25rem 4rem;
    }

    @include desktop {
        padding-left: 0;
        padding-right: 0;
        @include desktop-center;
    }

    &__background {
        background-image: url("../../assets/images/pink-aquarelle.png");
        background-repeat: no-repeat;
        background-size: 209px;

        @include tablet {
            background-position: left -80px top 0;
        }

        @include desktop {
            background-position: left -40px top 0;
        }
    }
    
    &__nav-bar {
        display: flex;
        border-radius: 12px;
        gap: 8px;
        background-color: $white;
        padding: 8px;
        width: 100%;

        @include tablet {
            width: fit-content;
        }

        @include desktop {
            align-self: flex-end;
        }
    }

    &__link {
        @include p2;
        text-align: center;
        color: $accent-text;
        width: 100%;
        margin: 0;
        padding: .5rem 0;
        border-radius: 12px;
        cursor: pointer;

        @include tablet {
            width: fit-content;
            padding: .5rem 12px;
        }

        @include desktop {
            margin: 0;
        }


        &--active {
            color: $background;
            background-color: $accent-3;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        @include tablet {
            gap:24px;
        }

        @include desktop {
            gap: 36px;
            justify-content: space-between;
        }
    }
}