@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.faq-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    background-color: $white;
    border-radius: 16px;
    margin: 4rem 0;

    @include desktop {
        margin: 96px 0 2rem;
        padding: 24px;
    }

    &__text {
        @include p1;
        line-height: 150%;
    }
    &__title, &__text {
        margin: 0;

        @include tablet {
            text-align: center;
        }

        @include desktop {
            text-align: left
        }
    }

    &__link {
        @include secondary-btn;
        @include button;
        text-align: center;
        color: $accent-1;
        border: 1px solid $accent-1;
    }
}