@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.form {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding: 0;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 3rem;
        text-align: center;

        @include tablet {
            text-align: left;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }

    }

    &__accent-2 {
        color: $accent-2;
    }

    &__accent-3 { 
        color: $accent-3;
    }

    &__accent-4 {
        color: $accent-4;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        width: 100%;
    }

    &__input-pair {
        width: 100%;
    }

    &__input, &__text, &__button {
        width: 100%;
    }

    &__input, &__text {
        @include input;
    }

    &__text {
        resize: none;
        height: 7.5rem;
    }

    &__label {
        @include label;
    }

    &__button {
        @include button;
        @include primary-btn;
        background-color: $accent-1;
        color: $background;
        outline: 0;
        border: 0;
        margin: 1rem 0;
        cursor: pointer;

        &:hover, &:active {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), $accent-1;
        }

        @include tablet {
            margin: 0;
        }
    }

    &__name-container {
        @include desktop {
            width: 48.1%;
        }
    }

    &__error-state{
        @include error-input;
    }
}