@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.author-container {
    background-image: url("../../assets/images/Daisies.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 110%;

    @include tablet {
        background-size: 43%;
        background-position: left 0 ;
    }

    @include desktop {
        background-image: url("../../assets/images/Daisies.png"), url('../../assets/images/green-aquarelle.png');
        background-position: left 0,  top -75px right -50px;
        background-size: 43%, 20%;
    }
}
.author {
    padding: 1rem;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 24px;
        padding: 24px 36px;
    }

    @include desktop {
        gap: 103px;
        padding: 62px 0;
        @include desktop-center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 70%;

        @include tablet {
            width: 100%;
        }
    }

    &__quote {
        @include quote;
        color: $accent-text;
        text-align: center;
    }

    &__name {
        color: $accent-1;
        margin: 5px 0 8px;

        @include tablet {
            margin-top: 0;
        }
    }

    &__text {
        @include p1;
        line-height: 24px;

        @include desktop {
            line-height: 27px;
            width: 95%;
        }

        &--notmobile {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }

    &__read-more {
        display: block;
        background-color: $accent-1;
        color: $background;
        flex-basis: 100%;
        text-align: center;
        margin-top: 24px;
        @include button;
        @include primary-btn;

        @include tablet {
            width: 244px;
            margin-top: 36px;

        }
    }
}
