@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.books-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;

    &__background {
        background-image: url("../../assets/images/beige-aquarelle.png");
        background-repeat: no-repeat;
        // background-size: 135%;
        background-position: left -330px bottom 50px;
    }

    &__title {
        color: $accent-3;
    }

    &__link {
        @include button;
        @include primary-btn;
        color: $background;
        background-color: $accent-3;
        padding-left: 24px;
        padding-right: 24px;
        margin: 1.5rem 0 4rem;
    }

    &__products {
        display: flex;
        gap: 16px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}