@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.login {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px;
        gap: 24px;
        background-color: $background;
        box-shadow: 20px 4px 50px rgba(213, 213, 213, 0.38);
        border-radius: 25px;
        width: 328px;
        gap: 1rem;

        @include desktop {
            width: 500px;
        }
    }

    &__title {
        margin: 1rem 0;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        width: 100%;
    }

    &__input-pair {
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 16px;
        border: 1px solid $secondary-text-1;
        border-radius: 12px;
        position: relative;
        outline: 0;
        background-color: $background;
        @include input-placeholder;

        &:hover, &:focus, &:active{
            border: 1px solid $accent-text;
        }

        &:focus, &:active{
            background-image: none;
        }
    }

    &__label {
        margin-top: -.85rem;
        margin-left: .7rem;
        background-color: $background;
        position: absolute;
        z-index: 1;
        @include input-label;
        color: $secondary-text-1;
        padding: .25rem;
    }

    &__button {
        @include button;
        @include primary-btn;
        background-color: $accent-1;
        color: $background;
        outline: 0;
        border: 0;
        width: 100%;
        cursor: pointer;

        &:hover, &:active {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), $accent-1;
        }
    }

    &__error-state{
        border: 1px solid $error;
        background-image: url('../../assets/icons/error.svg');
        background-position: top 50% right .7rem;
        background-repeat: no-repeat;
    }

    &__error {
        color: $error;
    }
}