@use "../../styles//partials/colors" as *;
@use '../../styles/partials/sizes' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.books-in-work {

    @include desktop{
        padding: 0;
        @include desktop-center;
    }

    &__container {
        margin-bottom: 1.5rem;
    }

    &__title {
        margin: 0;
    }

    &__text {
        @include p3;
        line-height: 150%;
    }
}